.game-page {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 100vh;          /* Hacer que ocupe toda la altura de la ventana */
    text-align: center;      /* Centrar el texto */
    font-family: 'Press Start 2P', cursive; /* Aplicar tipo de letra a toda la página */
    background-image: url('/public/fondo.png'); /* Ruta a la imagen de fondo */
    background-size: 20cm; /* Ajustar el tamaño de la imagen a 20cm de ancho y altura completa */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-color: black;
    overflow: hidden; /* Evitar desbordamiento */
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center;     /* Centrar horizontalmente */
    position: relative;      /* Para posicionar los elementos dentro de este contenedor */
    width: 20cm; /* Ajustar el ancho para que coincida con el fondo */
}

.game-screen {
    position: relative;      /* Posicionar el contenedor de juego */
    margin-top: -200px;       /* Espacio entre el contenido y el juego */
    transform: translateX(-1.7cm); /* Mover 8 cm hacia la izquierda */
}

.info-container {
    position: absolute;  /* Posicionar en relación a .game-page */
    top: -3.5cm;            /* A 5 cm desde el centro */
    left: 50%;           /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para centrar perfectamente */
    display: flex;       /* Alinear horizontalmente */
    justify-content: center;
    gap: 10px;           /* Espacio entre los elementos */
}

.info-text {
    font-size: 0.8em; 
    margin: 0; 
    color: white; /* Asegurar que sea visible sobre fondo oscuro */
}

.button-container {
    display: flex;          /* Alinear los botones horizontalmente */
    justify-content: center; /* Centrar los botones */
    margin-top: 60px;       /* Margen para colocarlos debajo del texto */
    gap: 15px;              /* Espacio entre los botones */
    transform: translateX(50px);
}

button {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* Aplicar fuente 8 bits */
}

.game-items-container {
    position: relative;
    transform: translateY(50px); /* Ajusta este valor para mover hacia abajo */
    width: 0vh;
}

.coins-container {
    position: relative;
    transform: translateY(50px); /* Ajusta este valor para mover las monedas hacia abajo */
}

.flag-container {
    position: relative;
    transform: translateY(40px); /* Ajusta este valor para mover la bandera hacia abajo */
}

.barrel-container {
    position: relative; 
    transform: translateY(58px); /* Ajusta este valor para mover los barriles hacia abajo */
  }

  .bullet-container {
    position: relative; 
    transform: translateY(50px); /* Ajusta este valor para mover las balas hacia abajo */
  }

  .green-bullet-container {
    position: relative; 
    transform: translateY(50px); /* Ajusta este valor para mover las balas verdes hacia abajo */
  }
  
  .instructions h5 {
    margin: 0;
    font-size: 0.8rem;
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .popup-content h2, .popup-content p {
    margin: 1rem 0;
    font-size: 18px;
  }
  
  .popup-content button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .popup-content button:hover {
    background-color: #555;
  }

  .instrucciones {
    width: 5cm;
    color: white;
    font-size: 0.7rem;
  }